@font-face {
    font-family: "TopSecret";
    src: url("./docs/fonts/TopSecret.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-image: url(./docs/images/background.jpg); */
    background-color: rgb(255, 0, 0);
    background-size: cover ;
    display: flex;
    justify-content: center;
}

#all {
    background-color: black;
}

h1, p, label {
    color: red;
}

h1, button, label {
    font-family: 'TopSecret';
}

#tandl {
    display: block;
}

#all {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#textAndButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#toWrite, #nModificador {
    width: 100%;
    min-width: 300px;
}

textarea, #nModificador {
    background-color: red;
    color: black;
}

textarea::placeholder, #nModificador::placeholder {
    color: black;
}

.button {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

#results {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 30%;
    height: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: black;
    color: red;
}